.*
{
	margin: 0;
}

html, body
{
	background: #e0e0e0;
	position: relative;
	width: 100%;
	height: 100%;
	margin: 0;
	display: flex;
	justify-content: center;
    align-items: center;
}

.back
{
    outline: 2px solid grey;
    background: lightgrey;
    width: 70px;
    height: 40px;
    position: absolute;
    left: -40px;
    top: 30%;
    z-index: 1;
    display: flex;
    justify-content: space-around;
	align-items: center;
	font-style: italic;
	font-family: sans-serif;
	cursor: pointer;
	transition: left 0.3s ease-out 0.1s;
}

.back:hover
{
	left: 0;
}

.back:active
{
	margin: 1px 0 0 1px;
}

.arr
{
	transform: rotateY(180deg);
	font-size: 25px;
}

.main_block
{
	position: relative;
	width: 650px;
    height: 80%;
	box-sizing: border-box;
	display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    transform: scale(1, 1);
    transform-origin: center;
    transition: transform 0.2s ease-out; 
}

.links
{
	outline: 1px solid #000000;
	position: relative;
	left: 0;
	width: 250px;
	height: 200px;
	margin: 10px 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 120px;
	font-weight: bold;
	cursor: pointer;
}

.block_1
{
	background: url(../images/adventure.jpg) no-repeat center;
	background-size: cover;
}

.block_2
{
	background: url(../images/airborne.jpg) no-repeat center;
	background-size: cover;
}

.block_3
{
	background: url(../images/anchor.jpg)  no-repeat center;
	background-size: cover;
}

.block_4
{
	background: url(../images/dermatologie.jpg) no-repeat center;
	-webkit-background-size: cover;
	background-size: cover;
}

.big_block
{
	position: absolute;
	top: 0;
	left: 0;
	width: 0%;
	height: 100%;
	transform-origin: 100% 0;
	transition: width 0.5s ease-out 0.15s;
}

					