@font-face {
	font-family: "NewBaskervilleC";
	src: url(font-types/NewBaskervilleC.ttf);
}

@font-face {
	font-family: "PTSans";
	src: url(font-types/PTSansRegular.ttf);
}

body
{
	margin: 0;
}

header
{
	background: #282a2d;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 80px;
}

.header-block
{
/*	outline: 1px solid red;*/
	width: 95%;
}

.header-link
{
/*	outline: 1px solid green;*/
	display: block;
	width: 250px;
	text-decoration: none;
	box-sizing: border-box;
}

.header-link-img
{
	padding: 0 21px 0 8px ;
	vertical-align: middle;
	float: left;
}

.header-link-text-1, .header-link-text-2
{
	display: block;
	width: 180px;	
	float: right;
}

.header-link-text-1
{
	font-family: "NewBaskervilleC";
	font-size: 32px;
	color: #ffffff;
}

.header-link-text-2
{
	font-family: "PTSans";
	font-size: 12px;
	color: #686d77;
	line-height: 9px;
}

section
{
	display: flex;
	justify-content: center;
	margin: 56px 0 80px 0;
}

.main
{
/*	outline: 1px solid #ffba00;*/
	width: 95%;
}

.nav-link
{
	display: inline-block;
	text-decoration: none;
	font-family: "PTSans";
	font-size: 12px;
	color: #aaadb3;
	text-transform: uppercase;
	margin-right: 26px;
}

.nav-link:visited
{
	font-weight: bold;
}

.nav-link:last-child
{
	margin-right: 0;
}

.nav-link:hover
{
	border-bottom: 2px solid #242526;
	font-weight: bold;
	color: #000000;
	margin-right: 18px;
}

.nav-link:nth-of-type(1)
{
	border-bottom: 2px solid #242526;
	font-weight: bold;
	color: #000000;
}

.nav-link:nth-of-type(1):hover
{
	margin-right: 26px;
}

.nav-link:nth-of-type(3):hover
{
	margin-right: 19px;
}

.nav-link:nth-of-type(4):hover
{
	margin-right: 17px;
}



.block2
{
    display: flex;
    flex-flow: row wrap;
    width: 100%;
}

/*
.block2-images
{
	margin: 0 20px 10px 0;
}
*/








footer
{
	background: #282a2d;
	height: 60px;
	display: flex;
	justify-content: center;
}

.footer-container
{
/*	outline: 1px solid red;*/
	width: 95%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-family: "NewBaskervilleC";
	font-size: 16px;
	color: #5e6267;
}

.footer-left
{
	margin-left: 11px;
}

.footer-right
{
	display: flex;
	align-items: center;
	font-size: 14px;
	margin-right: 17px;
}

.footer-right span
{
	margin-right: 15px;
}

.footer-right a
{
	text-decoration: none;
	color: #b5b9be;
}

.popup-dance, .popup-photo
{
	position: fixed;
	top: 0;
	left: 0;
	display: none;
	background: rgba(67, 70, 80, 0.8);
	width: 100%;
	height: 100%;
}

.close-dance, .close-photo
{
	position: absolute;
	right: 15px;
	top: -25px;
}

.close-dance:hover, .close-photo:hover
{
	cursor: pointer;
}

.cuba-dance
{
	display: block;
	position: relative;
	top: 25%;
	left: 25%;
	width: 600px;
}

.cuba-photo
{
	display: block;
	position: relative;
	top: 18%;
	left: 25%;
	width: 680px;
}

