@font-face {
	font-family: "NewBaskervilleC";
	src: url(font-types/NewBaskervilleC.ttf);
}

@font-face {
	font-family: "PTSans";
	src: url(font-types/PTSansRegular.ttf);
}

body
{
	margin: 0;
}

header
{
	background: #282a2d;
	display: flex;
	display: -webkit-box;
	justify-content: center;
	-webkit-box-pack: center;
	align-items: center;
	-webkit-box-align: center;
	height: 80px;
}

.header-block
{
/*	outline: 1px solid red;*/
	width: 95%;
}

.header-link
{
/*	outline: 1px solid green;*/
	display: block;
	width: 260px;
	text-decoration: none;
	box-sizing: border-box;
}

.header-link-img
{
	padding: 0 21px 0 8px ;
	vertical-align: middle;
	float: left;
}

.header-link-text-1, .header-link-text-2
{
	display: block;
	width: 190px;	
	float: right;
}

.header-link-text-1
{
	font-family: "NewBaskervilleC";
	font-size: 32px;
	color: #ffffff;
}

.header-link-text-2
{
	font-family: "PTSans";
	font-size: 12px;
	color: #686d77;
	line-height: 9px;
}

section
{
	display: flex;
	display: -webkit-box;
	justify-content: center;
	-webkit-box-pack: center;
	margin: 56px 0 80px 0;
}

.main
{
	width: 95%;
}

.nav-link
{
	display: inline-block;
	text-decoration: none;
	font-family: "PTSans";
	font-size: 12px;
	color: #aaadb3;
	text-transform: uppercase;
	margin-right: 26px;
}

.nav-link:visited
{
	font-weight: bold;
}

.nav-link:last-child
{
	margin-right: 0;
}

.nav-link:hover
{
	border-bottom: 2px solid #242526;
	color: #000000;
}

.nav-link:nth-of-type(1)
{
	border-bottom: 2px solid #242526;
	font-weight: bold;
	color: #000000;
}

.countries-img
{
	background: #313336;
	margin: 17px 0 0 0;
	width: 300px;
	height: 200px;
}

.countries-img:nth-of-type(3)
{
	width: 620px;
	height: 420px;
}

.arrows
{
	position: absolute;
	left: 222px;
	bottom: 20px;
}

.button-left, .button-right
{
	background: none;
	border: none;
	opacity: 0.4;
	padding: 0;
	cursor: pointer;
}

.button-left:hover, .button-right:hover
{
	opacity: 1;
}

.country-position
{
	height: 200px;
	width: 300px;
	overflow: hidden;
}

.cuba-slide-1, .cuba-slide-2, .cuba-slide-3, .cuba-slide-4
{
	width: 300px;
}

.latin
{
	height: 420px;
}

.latin-list
{
    position: absolute;
    left: 65px;
    top: 160px;
    margin-top: 0;
    padding-left: 0;
    font-size: 20px;
	color: #ffffff;
}

.latin-list li
{
	margin-bottom: 23px;
}

.country-name
{
	font-family: "NewBaskervilleC";
	font-size: 39px;
	color: #ffffff; 
	position: absolute;
	top: 79px;
	left: 0;
	width: 300px;
	text-align: center;
}

.cuba-img, 
.russia-img, 
.latin-img, 
.england-img, 
.norway-img, 
.switzerland-img, 
.china-img,
.germany-img,
.japan-img,
.australia-img,
.india-img,
.finland-img,
.newzealand-img
{
	opacity: 0.6;
	width: inherit;
	height: inherit;
}

.slide-item
{
	position: relative;
	display: block;
	width: 300px;
	height: 200px;
}

.zoom
{
	position: absolute;
	left: 130px;
	top: 79px;
}

.zoom:hover
{
	cursor: pointer;
}

.slide-text
{
	position: absolute;
	left: 20px;
	bottom: 21px;
	font-family: "NewBaskervilleC";
	font-size: 24px;
	color: #ffffff;
}

.slide2-text
{
    display: block;
	width: 243px;
	position: absolute;
	top: 41px;
	left: 20px;
	font-family: "PTSans";
	font-size: 14px;
	color: #abaeb3;
	text-align: justify;
}

.play
{
	position: absolute;
	top: 79px;
	left: 130px;
}

.grid
{
	top: 6px;
	margin: 0 auto;
}

footer
{
	background: #282a2d;
	height: 60px;
	display: flex;
	justify-content: center;
}

.footer-container
{
	width: 95%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-family: "NewBaskervilleC";
	font-size: 16px;
	color: #5e6267;
}

.footer-left
{
	margin-left: 11px;
}

.footer-right
{
	display: flex;
	align-items: center;
	font-size: 14px;
	margin-right: 17px;
}

.footer-right span
{
	margin-right: 15px;
}

.footer-right a
{
	text-decoration: none;
	color: #b5b9be;
}

.popup-dance, .popup-photo
{
	position: fixed;
	top: 0;
	left: 0;
	display: none;
	background: rgba(67, 70, 80, 0.8);
	width: 100%;
	height: 100%;
}

.close-dance, .close-photo
{
	position: absolute;
	right: 15px;
	top: -25px;
}

.close-dance:hover, .close-photo:hover
{
	cursor: pointer;
}

.cuba-dance
{
	display: block;
	position: relative;
	top: 25%;
	left: 25%;
	width: 600px;
}

.cuba-photo
{
	display: block;
	position: relative;
	top: 18%;
	left: 25%;
	width: 680px;
}