.countries-img, .country-position
{
	width: 280px;
	margin-left: 0;
}

.footer-right span 
{
    width: 110px;
}

.cuba-dance 
{
    left: 5px;
    width: 336px;
}

iframe 
{
	width: 310px;
	height: 230px;
}

.cuba-photo {
    left: 5px;
    width: 308px;
}

.popup-car
{
	width: inherit;
}

.close-photo {
    right: -7px;
}

.footer-right span
{
	width: 115px;
	margin-right: 0;
}